<tr>
  <td>
    <span style="padding-left: 4em" id="article_id_<%= article.id %>">
      <% #link_to(article.id.to_s + ' ' +  article.content,
        #  controller: 'articles',
        #  action: 'show')
         %>

    </span>
  <td>
</tr>
