{% extends 'base.html.twig' %}
{% form_theme form bootstrap_3_horizontal_layout.html.twig %}

{% block body %}
    <h1>Chevalier creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('chevalier_index') }}">Back to the list</a>
        </li>
    </ul>
{% endblock %}
