<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>kjhgfchiuoogy</title>
    </head>

    <body>
        <table>
            <thead>
                <tr>
                    <td>#</td>
                    <td>Content</td>
                </tr>
            </thead>
            <tbody>
                <%= render @chapter %>
            </tbody>
        </table>


    </body>

</html>
