{% extends "base.html.twig" %}

{% block title %}HeticBundle:CreatureFantastique:indec{% endblock %}

{% block body %}
    <h1>Welcome to the CreatureFantastique:indec page</h1>
    {% for creatureFantastique in creatureFantastiques %}
        <div>
            <h2>{{ creatureFantastique.nom }}</h2>
            <p>{{ creatureFantastique.superPower }}</p>
        </div>
    {% endfor %}
{% endblock %}