{% extends "base.html.twig" %}

{% block title %}HeticBundle:CreatureFantastique:NYU{% endblock %}

{% block body %}
    <h1>Welcome to the CreatureFantastique:New page</h1>
    {{ form_start(form) }}
    {{ form_widget(form) }}
    <input type="submit" value="LOL">
    {{ form_end(form) }}
{% endblock %}